.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid gainsboro;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
    padding-left: 10px;


}

.label {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
}